/*

Coisas que tenho que fazer

tela de login
tela de carregamento 
tela de lista de produto 
cada produto com botão editar e excluir 
botão de cadastro de produto 
formulário de cadastro de produto 
formulário de edição de produto 

adicionar botão whatsapp nos produtos 
*/

/*
TEM QUE TER NO FORMULÓVISK:

NOMEPRODUTO TEXT,
CATEGORIA TEXT,
DESCRICAO TEXT,
IMG VARCHAR(40),
PRECO DECIMAL(10),
TIPO TEXT,
PROMO TEXT,
MARCA TEXT
*/

*{
    font-family: 'Slabo 27px', serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color:#fff;
    width: 100vw;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* --------------- header ------------*/

header{
    position: sticky;
    top:0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color:#4E8BFA;
    height: 60px;
}

header #container-header{
    padding: 3px 0;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr;
    height: 10vh;
}

header #container-header figure{
    align-self: center;
}

header #container-header figure img{
    width: 5vw;
}

header #container-header ul{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

header #container-header ul li{
    padding-right: 15px;
    display: flex;
    align-items: center;
}

header #container-header ul li a{ 
    text-decoration: none;
    color: white;
    font-weight: 800;
    width: 100%;
}

header #container-header ul #li-contato{
    padding: 0;
    background-color:#BEFA34;
    width: 30%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}

header #container-header ul #li-contato a{
    color: #2454AD;
}

header #container-header ul li:hover{
    transform: scale(1.1);
}

header #container-header #search {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 5%;
    height: 50%;
    align-self: center;
    justify-self: right;
    background-color: white;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 0 5px 5px 0;
}
header #container-header input{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 95%;
    height: 50%;
    align-self: center;
    background-color: white;
    border: 3px solid white;
    border-radius: 5px 0 0 5px;
}
/* ------------ icone wpp ----------*/
.whats{
    width: 70px;
    position: fixed;
    bottom: 90px;
    right: 90px;
}
.whats:hover{
    box-shadow: 0 0 5px green;
    border-radius: 20px;

}
/* --------------------------- produtos ------------------------------*/

#navegador-produtos{
    min-height: 40px;
    width: 100%;
    background-color: #9ec3fc;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: sticky;
    top: 60px;
}

#navegador-produtos #container-links{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
#navegador-produtos #container-links .link{
    justify-self: center;
    color: black;
    font-size: 14pt;
    font-weight: 600;
    text-decoration: none;
}
#navegador-produtos #container-links .link:hover{
    color: #002050;
    transform:  scale(1.1);
    cursor: pointer;
}

#cosmeticos, #medicamentos, #suplementos{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

#cosmeticos h1, #medicamentos h1, #suplementos h1{
    margin: 20px 0;
    width: 100%;
    font-size: 35pt;
    text-align: center;
}

#cosmeticos .chroma, #suplementos .chroma, #medicamentos .chroma{
    height: 4px;
    background: linear-gradient(90deg, rgb(0, 252, 63), blue, red, rgb(131, 30, 47));
    width: 30vw;
    margin: 5px auto 50px auto;
}

#cosmeticos #container-cosmeticos, #suplementos #container-suplementos, #medicamentos #container-medicamentos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

section div figure{
    width: 18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid blue;
    border-radius: 10px;
    margin-bottom: 20px;
}
section div figure img{
    width: 85%;
    height: 90%;
}
section div figure figcaption{
    margin: 5px;
    font-weight: 600;
    font-size: 20pt;
    
}

/* ----------------index ---------------*/

.biografia {
    padding: 100px 0;
}

.biografia .container-biografia{
    display: flex;
    background-color: #eaffed;
}

.biografia .container-biografia div, .biografia .container-biografia figure {
    width: 50%;
    margin: 50px;
}

.biografia figure{
    background-color: #fff;
    border: 10px solid white;
    margin-bottom: 30px;
    width: 50%;
}

.biografia figure img{
    max-width: 100%;
    width:  auto;
    height: 100%;
}

.biografia h2{
    font-weight: 100;
    font-size: 48px;
    margin:  0 0 30px;
    color: #736f5c;
    min-width: 30vw ;
}

/* ----------------localização e contato ---------------*/

#container-localizacao, #container-contato{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: center;
    align-items: center;
}

#container-contato h1, #container-contato p{
    width: 100%;
    text-align: left;   
}

#container-contato p{
    font-size: 20pt;
}

#container-contato p img{
    width: 3%;
}
#formulario{
    background-color: #cce0ff;
    height: max-content;
    padding: 100px 0;
}
#container-texto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#container-texto h1{
    text-align: center;
    width: 100%;
}

#container-texto p{
    font-size: 15pt;
    width: 80vw;
}

#container-form{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-form form{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 8px;
}

form input, form select, form textarea, form button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightblue;
    color: #736f5c;
    font-size: 15pt;
}

form textarea{
    grid-column-start: 1;
    grid-column-end: 3;
}

form button{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #3e80fc;
    color: white;
}

form button:hover{
    background-color: #002050;
}

/* -------------------- FOOTER -----------------------*/

footer{
    margin-top: 50px;
    min-height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b9b9a;
    color: #fff;
    text-shadow: 0 0 1px black;

}


/* ---------------- TELA DE LOGIN -------- - ---- */

#main-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
}
#container-login{
    background-color: #9ec3fc ;
    width: 65vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 10px #2e2f31;
}

main #container-login form{
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main #container-login form #container-saudacoes{
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
main #container-login form #container-saudacoes h1{
    width: 100%;
    height: 60%;
    text-align: center;
    height: fit-content;
    margin-bottom: 5px;
}

main #container-login form #container-saudacoes #saudacao{
    text-align: center;
    width: 100%;
}

main #container-login form #container-dados{
    height:60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: left;
}

main #container-login form #container-dados span{
    align-self: flex-end;
}

main #container-login form #container-dados p a{
    text-decoration: none;
    color: rgb(16, 25, 105);
    font-weight: 600;
}
main #container-login form #container-dados input{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 3px;
    height: 5vh;
    width: 100%;
}
main #container-login form #container-dados button{
    width: 100%;
    height: 5vh;
    color: white;
    background-color: rgb(60, 60, 201);
    border: 0.5px solid rgb(51, 51, 199);
    border-radius: 3px;
    font-size: 14pt;

}

main #container-login form #container-dados button:hover{
    background-color: rgb(9, 9, 216);
}

header #mobile-container{
    display: none;
}


/* ----------------------TELA CARREGAMENTO --------------- */

#container-carregamento{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotacao {
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
#container-carregamento #carregamento{
    width: 5vw;
    height: 5vw;
    border-radius: 100px;
    animation: rotacao linear 5s infinite;
}
#container-carregamento #carregamento #carregamento-child{
    width: 100%;
    height: 100%;
    border: 7px dashed gray ;
    border-radius: 600px;
    
}

/* ----------------- responsividade --------------*/

/*--------------------------- tela de login -------------*/
@media screen and (max-width: 762px) {
      #container-login{
        width: 100vw;
        height: 100vh;
        align-items: flex-start;
    }
    main #container-login form{
        width: 90%;
        height: 60%;
      
    }
    
/*------------------ header -------------------*/

    header #container-header{
        display: none;
}
    header #mobile-container{
        display: block;
        width: 100vw;
    }

    header #mobile-container .topnav{
        display: block;
        position: relative;
        
    }
    .topnav nav{
        display: block;
    }
    .topnav a{
        display: block;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        
    }
    .topnav{
        overflow: hidden;
        position: relative;
        background: rgba(105, 189, 228, 0.6);
        
    }
    header #mobile-container .topnav a img{
        max-height: 20px;
        
    }
    
    .topnav .icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: white;
    }
    .active{
        background-color: #2454AD;
        min-height: 60px;
    }

        /**------------------------------------produtos  ------------------*/
    #cosmeticos #container-cosmeticos, #suplementos #container-suplementos, #medicamentos #container-medicamentos{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2%;
        row-gap: 2%;
    }

    section div figure{
        width: 100%;
        min-height: 200px;
        height: max-content;
        display: flex;
        justify-content: center;
        border: 1px solid blue;
        border-radius: 10px;
        margin: 0;
    }
    #navegador-produtos{
        display: none;
    }

    /* -----------------------form -------------------------- */
    #container-form form{
        display: flex;
        flex-direction: column;
    }
    #container-contato p img{
        width: 5%;
    }

    /* ------------------------- index ---------------------*/
    .biografia .container-biografia{
        flex-direction: column;
        background-color: #eaffed;
    }
    .biografia .container-biografia figure{
        width: 80%;
    }
    .biografia .container-biografia div{
        width: 80%;
    }
}
